body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
    overflow-x: hidden;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #007bff;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a span {
    flex: 1;
}

.content {
    flex: 1;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.toggle-sidebar {
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.company-info {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-info img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.company-info h2 {
    margin-bottom: 10px;
}

.company-info p {
    margin-bottom: 10px;
}

.company-info p i {
    margin-right: 8px;
}
/* Dropdown Button */
.dropbtn {
  background-color:#333;
  color: white;
  padding: 10px;
  border-radius:5px;
  min-width: 100px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: center;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #007bff}

@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .sidebar a span {
        display: none;
    }

    .toggle-sidebar {
        display: block;
    }
}